body {
    background-color:aliceblue;
    font-family: sans-serif;
    font-size: 1em;
    text-align: center;
}

h1 {
    font-size: 2em;
}

h2 {
    font-size: 1.25em;
}

ul {
    list-style: none;
    padding: 0;
}

p#instructions {
    text-align: left;
    /*    padding: 0 10em;*/
    width: 100%;
    margin: 1em auto;
}

#yieldunits {
    font-size: 1em;
    font-weight: normal;
}

div#recipedetail {
    display:none;
    max-width: 40em;
    margin: 1em auto;
}

div#recipelist ul li:hover {
    font-weight: bold;
    cursor:pointer;
    list-style-type: disc;
}

input#yields {
    width: 3em;
}

input[type=number] {
    font-size: 1em;
}

input[type=number]::-webkit-inner-spin-button {
    opacity: 1;
}

input[type=button] {
    font-size: 1em;
}
